* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* href links */ 
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

/* Navigation Bar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A45C40;
    padding: 10px 20px;
    color: #E5D4C3;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.logo .brand-name {
    font-size: 28px;
    font-weight: bold;
    color: #F6EEE0;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #D6AB7D;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.home {
    background-color: #F6EEE0;
    text-align: center;
    padding: 48px 0;
}

.home h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

.search-bar {
    margin-top: 32px;
}

.search-bar input {
    padding: 8px;
    width: 60%;
    max-width: 400px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #A45C40;
    color: #fff;
    border: none;
    cursor: pointer;
}

.section {
    padding: 48px 0;
}

.section h2 {
    text-align: center;
    margin-bottom: 32px;
}

.job-listings, .news-accomplishments, .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 25.6px;
}

.card h3 {
    margin-bottom: 16px;
}

.card h3 a:hover {
    text-decoration: underline;
}

footer {
    background-color: #A45C40;
    color: #fff;
    text-align: center;
    padding: 16px 0;
    margin-top: 32px;
}
