* {
    padding: 0;
    margin: 0;
    font-family: Tahoma, sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image2.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.registration-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    min-width: 400px;
    max-width: 90%;
}

.registration-form h1 {
    color: white;
}

.registration-form input {
    font-size: 15px;
    padding: 10px 15px;
    width: 100%; 
    border: 0;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.registration-form button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 100%;
    border: 0;
    border-radius: 10px;
    background-color: #704E2E;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-sizing: border-box;
}

.registration-form button:hover {
    background-color: #5A2C25;
}

@media (max-width: 768px) {
    .registration-form {
        width: 100%;
        min-width: 0;
    }
}
